In [1]:
# Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [16]:
# Get data
df = pd.read_csv("20201119_AM_FinalDataset.csv")

In [17]:
sorted(df)

['Unnamed: 0',
 'authorAgeDeath',
 'authorBirthPlace',
 'authorBirthYear',
 'authorCulture',
 'authorDeathPlace',
 'authorDeathYear',
 'authorGender',
 'authorGeneration',
 'authorId',
 'authorMarriageStatus',
 'authorMaternalStatus',
 'authorNameBrief',
 'authorNameFull',
 'authorNationality',
 'authorOccupationDestination',
 'authorOccupationOrigin',
 'authorPermanentMigration',
 'authorReligion',
 'authorYearImmigration',
 'docAuthorAge',
 'docEditor',
 'docEvent',
 'docId',
 'docLanguage',
 'docOrigin',
 'docSequence',
 'docSubject',
 'docSubjects',
 'docType',
 'docYear',
 'sentPolarity',
 'sentSequence',
 'sentText',
 'sentTopic']

In [18]:
# How many letters?
len(pd.unique(df['docId']))

1212

In [19]:
# How many authors
len(pd.unique(df['authorId']))

284

In [20]:
# Drop brief name because it doesn't accord with the counts for authorID and authorNameFull
df = df.drop(['authorNameBrief'], axis=1)

# Drop "Full" from remaining name variable
df.columns = df.columns.str.replace('authorNameFull', 'authorName') 

# View variables
sorted(df)

['Unnamed: 0',
 'authorAgeDeath',
 'authorBirthPlace',
 'authorBirthYear',
 'authorCulture',
 'authorDeathPlace',
 'authorDeathYear',
 'authorGender',
 'authorGeneration',
 'authorId',
 'authorMarriageStatus',
 'authorMaternalStatus',
 'authorName',
 'authorNationality',
 'authorOccupationDestination',
 'authorOccupationOrigin',
 'authorPermanentMigration',
 'authorReligion',
 'authorYearImmigration',
 'docAuthorAge',
 'docEditor',
 'docEvent',
 'docId',
 'docLanguage',
 'docOrigin',
 'docSequence',
 'docSubject',
 'docSubjects',
 'docType',
 'docYear',
 'sentPolarity',
 'sentSequence',
 'sentText',
 'sentTopic']

In [21]:
# How much missing data
# Credit: https://studymachinelearning.com/pandas-count-missing-values-nan-for-each-columns-in-dataframe/

# Function to count missing values for each columns in a DataFrame
def missing_data(df):
    # Count number of missing value in a column
    total = df.isnull().sum()           
    
    # Get Percentage of missing values
    percent = (df.isnull().sum()/df.isnull().count()*100)   
    temp = pd.concat([total, percent], axis=1, keys=['Total', 'Percent(%)'])

    # Create a Type column, that indicates the data-type of the column.
    types = []
    for col in df.columns:
        dtype = str(df[col].dtype)
        types.append(dtype)
    temp['Types'] = types

    return(np.transpose(temp))

In [22]:
# Get missing data for author columns
missing_data(df.filter(regex='author'))

,authorId,authorName,authorBirthYear,authorBirthPlace,authorGender,authorCulture,authorOccupationOrigin,authorReligion,authorNationality,authorYearImmigration,authorMarriageStatus,authorMaternalStatus,authorOccupationDestination,authorPermanentMigration,authorDeathYear,authorDeathPlace,authorAgeDeath,authorGeneration
Total,0,0,9681,3621,0,18,15191,12394,8407,14837,6352,6546,5601,4981,10195,14899,11021,0
Percent(%),0,0,21.9898,8.22487,0,0.0408859,34.5054,28.1522,19.096,33.7013,14.4282,14.8688,12.7223,11.314,23.1573,33.8421,25.0335,0
Types,object,object,float64,object,object,object,object,object,object,float64,object,object,object,object,float64,object,float64,object

In [15]:
letters = pd.read_csv("20201119_AM_Meta2Merge.csv")

In [23]:
sorted(letters)

['Unnamed: 0',
 'ageatdeath',
 'agewriting',
 'allsubject',
 'authorgender',
 'authorgeneration',
 'birthplace',
 'birthyear',
 'briefname',
 'broadsubj',
 'culturalheritage',
 'deathplace',
 'deathyear',
 'docauthorid',
 'docauthorname',
 'docid',
 'docsequence',
 'doctype',
 'docyear',
 'editor',
 'language',
 'marriagestatus',
 'maternalstatus',
 'nationality',
 'nativeoccupation',
 'northamericanoccupation',
 'personalevent',
 'religion',
 'stayednorthamerica',
 'wwritten',
 'yearimmigration']

In [25]:
letters['authorgender'].value_counts()

M    630
F    582
Name: authorgender, dtype: int64