In [2]:
# Library & Data
import pandas as pd 
df = pd.read_csv("20200929_AM_FinalMeta.csv") 

# Select cases
englishLetters = df.loc[(df['doctype'] == "Letter") & (df['language'] == "English")]
englishLetters[:5]

,Unnamed: 0,docsequence,docid,docyear,doctype,allsubject,broadsubj,personalevent,wwritten,docauthorid,...,native_occupation.x,north_american_occupation.x,year_immigration.x,cultural_heritage.x,stayed_north_america.x,agewriting,marriagestatus,maternalstatus,author_generation,north_american_occupation
136,137,2,S1019-D002,1872.0,Letter,Clergy; Missionaries; Students; Travel; Religi...,Religion; Education; Entertainment and recreation,NaN,Ohio; United States; East North Central States...,per0001043,...,NaN,Nun; Social worker; Teacher,NaN,Italian; European,Stayed,22.0,Single,Childless,First,Nun; Social worker; Teacher
137,138,4,S1019-D004,1872.0,Letter,Missionaries; Nuns; Railroad trips; Religious ...,Religion; Entertainment and recreation,NaN,"Kansas City, MO; Missouri; United States; West...",per0001043,...,NaN,Nun; Social worker; Teacher,NaN,Italian; European,Stayed,22.0,Single,Childless,First,Nun; Social worker; Teacher
138,139,5,S1019-D005,1872.0,Letter,Houses; Missionaries; Schools; Stagecoach trav...,Domestic life; Religion; Education; Transporta...,NaN,"Trinidad, CO; Colorado; United States; Southwe...",per0001043,...,NaN,Nun; Social worker; Teacher,NaN,Italian; European,Stayed,22.0,Single,Childless,First,Nun; Social worker; Teacher
139,140,6,S1019-D006,1872.0,Letter,Churches; Clubs; Discipline; Educational philo...,Religion; Entertainment and recreation; Education,NaN,"Trinidad, CO; Colorado; United States; Southwe...",per0001043,...,NaN,Nun; Social worker; Teacher,NaN,Italian; European,Stayed,22.0,Single,Childless,First,Nun; Social worker; Teacher
140,141,7,S1019-D007,1873.0,Letter,Accidents; Missionaries; Murder; Religious bel...,Transportation; Religion; Law; Education; Ente...,NaN,"Trinidad, CO; Colorado; United States; Southwe...",per0001043,...,NaN,Nun; Social worker; Teacher,NaN,Italian; European,Stayed,23.0,Single,Childless,First,Nun; Social worker; Teacher

In [3]:
# Data check shows that doctype and language variables have 1 level and no missing data
englishLetters[['docid', 'doctype', 'language']].describe()[0:2]

       docid doctype language
count   1073    1073     1073
unique  1073       1        1

In [5]:
# Create an object (series)
# Place into it the values in docid
# Split into sourceid (1st element) and docid (2nd element)
IDs = pd.Series(df["docid"]).str.split(pat = "-", expand=True)
IDs[:10]

        0     1
0  S10003  D023
1  S10003  D024
2  S10003  D025
3  S10003  D026
4  S10003  D027
5  S10003  D028
6  S10003  D029
7  S10003  D030
8  S10003  D031
9  S10003  D032

In [ ]:
# For loop to extract text from HTML
for index in range(len(IDs)):
    f = open("dataNAIL/" + IDs['Src'].iloc[index] + ".txt","r", encoding = 'utf-8')
    soup = BeautifulSoup(f, 'html.parser')
    doc = soup.find(id=IDs.iloc[index,2])
    paras = doc.find_all("p")
    letter = []
    for para in paras:
        letter.append(para.contents[0])
    f = open("letters/" + IDs.iloc[index,2] + ".txt", "w")
    f.write(str(letter))
    f.close()
print("Done")

In [ ]:
# For loop to extract text from HTML
f = open("dataNAIL/" + IDs.iloc[0,0] + ".txt","r", encoding = 'utf-8')
soup = BeautifulSoup(f, 'html.parser')
doc = soup.find(id=IDs.iloc[0,2])
letter = []
for string in doc.stripped_strings:
    letter.append(repr(string))
letter = str(letter)
letter = letter.replace("\\\\n", " ")
f = open("letters/" + IDs.iloc[0,2], "w")
f.write(letter)
f.close()

In [ ]:
# For loop to extract text -- this worked best
f = open("dataNAIL/" + IDs.iloc[0,0] + ".txt","r", encoding = 'utf-8')
soup = BeautifulSoup(f, 'html.parser')
doc = soup.find(id=IDs.iloc[0,2])
doc = ''.join(text for text in doc.find_all(text=True) if text.parent.name != "note")
f = open("letters/" + IDs.iloc[0,2] + ".txt", "w")
f.write(doc)
f.close()

In [1]:
#Create dictionary
dictionary = {
  "Term1a": "Term1b",
    "Term2a" : "Term2b"
}
print(dictionary)

{'Term1a': 'Term1b', 'Term2a': 'Term2b'}

In [ ]:
# Cycle through files in a directory
# Calculate sentiment
for fileid in lettersCorpus.fileids():
    text = lettersCorpus.raw(fileid)
    sentences = sentenceTokenizer.tokenize(text)
    for sentence in sentences:
        scores = sentimentAnalyzer.polarity_scores(sentence)
        print(sentence)
        print(scores)
    print(fileid)
    print('')

In [ ]:
# Make a dictionary to hold scores.
compoundScores = []        
for fileid in lettersCorpus.fileids():
    text = lettersCorpus.raw(fileid)
    sentences = sentenceTokenizer.tokenize(text)
    for sentence in sentences:
        scores = sentimentAnalyzer.polarity_scores(sentence)
        compoundScores.append(scores['compound'])
    print(compoundScores)
    print(fileid, "added")

In [ ]:
#Calculate words, sentences, paragraphs in a corpus with PlaintextCorpusReader
tokens = lettersCorpus.words()
print(len(tokens), "tokens")

words = [word for word in tokens if word[0].isalpha()]
print(len(words), "words")

print(len(set(words)), "unique word types")

print(len(lettersCorpus.sents()), "sentences")
print(len(lettersCorpus.paras()), "paragraphs")

In [ ]:
# Add stopwords to nltk list
stop_words.extend(['from', 'subject', 're', 'edu', 'use'])

In [ ]:
value = 'carrother'
# python check if value exist in dict using "in" & values()
if value in id2word.values():
    print(f"Yes, Value: '{value}' exists in dictionary")
else:
    print(f"No, Value: '{value}' does not exists in dictionary")

In [ ]:
# Reordering
topic_num_keywords = topic_num_keywords.reindex([1,5,3,10,2,6,8,7,0,4,9])
topic_num_keywords